ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.25rem;
  color: white;
}

li a {
  color: white;
}

.navBar {
  background: black;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: gray;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.navbar-links a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a:hover {
  background-color: white;
  color: #333;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.cart {
  color: white;
}

.cart a {
  color: white;
}

.rightLinks a {
  color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
}