ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.25rem;
  color: white;
}

li a {
  color: white;
}

.navBar {
  background: black;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: gray;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.middleLinks ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.middleLinks li {
  margin-right: 20px;
  color: white;
}

.rightLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rightLinks li {
  margin-left: 20px;
}

.middleLinks a {
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.links a {
  color: white;
}

.cart {
  color: white;
}

.cart a {
  color: white;
}